name: Deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  job_id:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Authenticate with google
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
      
      - id: 'setup'
        uses: google-github-actions/setup-gcloud@v0.3.0

      - id: 'install-go'
        run: gcloud components install app-engine-go

      # Deploy to google app engine
      - id: 'deploy'
        uses: 'google-github-actions/deploy-appengine@v0.5.0'
        with:
          deliverables: app.yaml
      
      # Example of using the output
      - id: 'test'
        run: 'curl "${{ steps.deploy.outputs.url }}"'